DISCORD_TOKEN=
ENVIRONMENT=PRODUCTION
DEV_GUILD_IDS=

DATABASE_URL="postgresql://username:password@localhost:5432/dbname"
SHADOW_DATABASE_URL="postgresql://username:password@localhost:5432/dbname_shadow"
